<div class="logo">
    <img src = "./../../assets/imgs/Bikerent_logo.PNG">
</div>


<div class="gris">

    <p>Completa la información adicional</p>

    <div class="cajas">

            <div class="d mb-4">
                <label for="formGroupExampleInput" class="form-label">Número de piso/departamento</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese este campo">
            </div>

            <div class="d mb-4">
                <label for="formGroupExampleInput" class="form-label">¿Alguna indicacion para la entrega?</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese este campo">
            </div>

        <div style="margin-left: 28%">
            <label for="formGroupExampleInput" class="form-label">Ej: La puerta es azul</label>
        </div>

    </div>

    <div class="a">
        <div class="boton" >
            <button type="button" class="btn btn-outline-info"routerLink="/home">Confirmar Ubicación</button>
        </div>
    </div>

</div>