
<div class="inf">
    <p class="title">Información</p>
    <img src ="../../../assets/imgs/usuario_cliente.jpg" class = "imgperfil" alt = "imgperfil">
    <p class="pend">Pendiente</p>

    <div class="btn-group">
        <button type="button" class="btn btn-light">DATOS DEL USUARIO</button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split btsmall" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
    <br>
    <div class="btn-group ">
        <button type="button" class="btn btn-light">MODELOS ALQUILADOS</button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split btsmall" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
    <br>
    <div class="btn-group">
        <button type="button" class="btn btn-light">ASIGNAR CUPÓN</button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split btsmall" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
    <br>
    <div class = "extras">
        <p>CÓDIGO <input class="border border-info col-lg-offset-2" type="text" name = "codigo" id = "codigo"> </p>   
        <p>DURACIÓN <input class="border border-info col-lg-offset-2" type="text" name = "duracion" id = "duracion"> </p> 
    </div>
    
    <br>

    <button type="button" class="btn btn-outline-info"> Asignar tarjeta</button> 
    <button type="button" class="btn btn-outline-info"> Asignar cupón</button>
</div>