<form class = "cardprofile border border-dark">
    <div class =  "datos">
        <form [formGroup]="myForm" >  <!--(ngSubmit)="verificarPasswords()" novalidate>-->
            <p><i class="bi bi-pencil-square"> Cambiar contraseña</i></p><br>
            <a> Usuario:</a>
                <input class="border border-info" type="text" name = "usuario" id = "usuario" formControlName="usuario">
                <div *ngIf="myForm.get('usuario')?.hasError('required') && myForm.get('usuario')?.touched">
                    <span class = "not_error"> Este campo es obligatorio</span>
                </div>
            
            <a> Nueva Contraseña:</a>
                <input class="border border-info" type="password" name = "newpwd" id = "newpwd" formControlName="newpwd">
                <div *ngIf="myForm.get('newpwd')?.hasError('required') && myForm.get('newpwd')?.touched">
                    <span class = "not_error"> Este campo es obligatorio</span>
                </div>
                <div *ngIf="myForm.get('newpwd')?.hasError('minlength')">
                    <span class = "not_error"> La contraseña debe ser mayor a 8 caracteres</span>
                </div>
            
            <a> Confirmar contraseña:</a>
                <input class="border border-info" type="password" name = "conpwd" id = "conpwd" formControlName="conpwd">
                <div *ngIf="myForm.get('conpwd')?.hasError('required') && myForm.get('conpwd')?.touched">
                    <span class = "not_error"> Este campo es obligatorio</span>
                </div>
                <div *ngIf="myForm.get('conpwd')?.hasError('minlength') && myForm.get('conpwd')?.touched">
                    <span class = "not_error"> La contraseña debe ser mayor a 8 caracteres</span>
                </div>

            <div id="msg"> 
                <!-- Mensajes de Verificación -->
                <div id="campos_vacios" class="alert alert-warning ocultar" role="alert">
                    Los campos están vacíos
                </div>
                <div id="error" class="alert alert-danger ocultar" role="alert">
                Las contraseñas no coinciden
                </div>
                <div id="ok" class="alert alert-info ocultar" role="alert">
                Las contraseñas coinciden
                </div>
                <!-- Fin Mensajes de Verificación -->
            </div>
            <br><br>
            <button type="submit" id="login"  class=" button btn btn-outline-info" (click)="UpdatePassword()">Cambiar</button>
        </form>
    </div>
</form>