<!--nav-link active button-navegacion-->
<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav barra-navegacion" style="margin: 15px 0 10px 20%;">
            <a class="navbar-brand button-navegacion"  (click)="home()"><i class="bi bi-house-door-fill"></i> Home</a>
            <a class="navbar-brand button-navegacion" (click)="bicicletas()"> <i class="bi bi-bicycle"></i> Bicicletas</a>
            <a class="navbar-brand button-navegacion" (click)="historial()"> <i class="bi bi-clock-history"> </i> Historial de alquileres</a>
        </div>
        <div class="navbar-nav barra-navegacion">
            <a class="navbar-brand button-navegacion" (click)="perfil()" style="margin-left: 400px;"><div class="img-perfil"></div></a>
        </div>
    </div>
</nav>


<!--nav 
<nav class="navbar bg-secondary">
    <div class="container-fluid">
        <div class="navbar-nav barra-navegacion" style="margin: 15px 0 10px 20%;">
            <a class="nav-link active button-navegacion btn-home" aria-current="page" href="HOME.html"><i class="bi bi-house-door-fill nav-icons"></i> Home</a>
            <a class="nav-link active button-navegacion btn-bici" href="Bicicletas.html"><i class="bi bi-bicycle nav-icons"></i> Bicicletas</a>
            <a class="nav-link active button-navegacion btn-noti" href="Notificaciones.html"><i class="bi bi-bell-fill nav-icons"></i> Notificaciones</a>
            <a class="nav-link active button-navegacion btn-hist" href="Historial.html"><i class="bi bi-clock-history nav-icons"></i> Historial de alquileres</a>
        </div>
        <div class="navbar-nav barra-navegacion">
            <a class="nav-link active button-navegacion btn-perf" href="VerPerfil.html" style="color:white; margin-left: 400px;"><div class="img-perfil"></div>Ver Perfil</a>
            <a class="nav-link active button-navegacion btn-carr" href="Carrito.html" style="color:white;"><div><i class="bi bi-cart3 nav-icons icon-bg"></i></div>Carrito</a>
        </div>
    </div>
    </nav>
nav fin-->