    
<div class="logo">
    <img src = "./../../assets/imgs/Bikerent_logo.PNG">
</div>
<body>
    <div class = "bg">
        <p class="text-center">Regístrate</p>

        <p class="unete">Únete a esta aventura sobre ruedas</p>

        <p style="text-align: center">BIKERENT, tu mejor opción de transporte</p>

        <form [formGroup]="myForm" class="example-form"> <!--(ngSubmit)="verificarPasswords()" novalidate>-->

                <div class="a">
                    <div class="form-floating mb-4">
                        <input  formControlName = "usuario" type="text" class="form-control" id="floatingInput" placeholder="Usuario">
                        <label for="floatingInput">Usuario</label>
                        <div *ngIf="myForm.get('usuario')?.errors && myForm.get('usuario')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('usuario')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('usuario')?.hasError('minlength')"> Minimo de 5 caracteres</p>
                            <p class = "not_error" *ngIf="myForm.get('usuario')?.hasError('pattern')"> No se permiten caracteres especiales </p>
                        </div>
                    </div>
                </div>
        
                <!--
                <div class="a">
                    <div class="form-floating mb-4">
                        <input formControlName = "email" type="email" class="form-control" id="email" placeholder="Correo Electrónico">
                        <label for="floatingInput">Correo Electrónico</label>
                        <div *ngIf="myForm.get('email')?.errors && myForm.get('email')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('email')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('email')?.hasError('email')"> No cumple con el formato valido </p>
                        </div>
                    </div>
                </div>-->
        
                <div class="a">
                    <div class="form-floating mb-4">
                        <input formControlName = "contrasenia" type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                        <label for="floatingPassword">Contraseña</label>
                        <div *ngIf="myForm.get('contrasenia')?.errors && myForm.get('contrasenia')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('contrasenia')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('contrasenia')?.hasError('minlength')"> Minimo de 8 caracteres</p>
                        </div>
                    </div>
                </div>
        
                <div class="a">
                    <div class="form-floating mb-4">
                        <input formControlName = "confcontrasenia" type="password" class="form-control" id="floatingPassword" placeholder="Confirmar contraseña">
                        <label for="floatingPassword">Confirmar contraseña</label>
                        <div *ngIf="myForm.get('confcontrasenia')?.errors && myForm.get('confcontrasenia')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('confcontrasenia')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('confcontrasenia')?.hasError('minlength')"> Minimo de 8 caracteres</p>
                        </div>
                    </div>
                </div>    
        
                <div class="tipo">
                    <p class="t">Tipos de cuenta</p>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="background-color: white">
        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="Empresa" formControlName = "tipo_usuario">
                        <label class="btn btn-outline-primary" for="btnradio1" >Empresa</label>
                        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked value="Cliente" formControlName = "tipo_usuario">
                        <label class="btn btn-outline-primary" for="btnradio2" >Cliente</label>
        
                    </div>
                </div>


            <div id="msg"> 
                <!-- Mensajes de Verificación -->
                <div id="campos_vacios" class="alert alert-warning ocultar" role="alert">
                    Los campos están vacíos
                </div>
                <div id="error" class="alert alert-danger ocultar" role="alert">
                Las contraseñas no coinciden
                </div>
                <div id="ok" class="alert alert-info ocultar" role="alert">
                Las contraseñas coinciden
                </div>
                <!-- Fin Mensajes de Verificación -->
            </div>
            
            <div class="boton" >
                <button type="button"(click)="saveUsuario()" class="btn btn-outline-info" >REGISTRAR</button>
            </div>  

        </form>
    </div>
</body>
