<div class="logo">
    <img src = "./../../assets/imgs/Bikerent_logo.PNG">
</div>

<div class="text-center">BIKERRENT, te lo llevamos al instante</div>

<p>Ingresa tu dirección para ver las bicicletas cerca a ti</p>

<div class="cajas">

    <div class="a">
        <div class="input-group mb-3" >
            <input type="text" class="form-control" placeholder="Ingresa tu dirección o punto de referencia" aria-label="Username" aria-describedby="basic-addon1">
            </div>
    </div>

</div>
