<body>
    <div class="container">
        <div class="row"> <!--flecha back-->
            <div class="col">
                <button class="button-back-carrito"><i class="fa-solid fa-angle-left"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 contenedor-carrito">
                <div class="row">
                    <p class="title-carrito">Carrito</p>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 product-box">
                        <div class="row">
                            <div class="col-3">
                                <div class="img-minibmx img-minibmx-carrito"></div>
                            </div>
                            <div class="col-6">
                                <p class="txt-mini-bmx">Mini BMX</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row actualizar-box" style="margin-top: 120px; text-align: center;">

                </div>
                <div class="btn-Realizar-Pedido">
                    <button class="btn btn-outline-info">Realizar Pedido</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</body>