<div class="container-fluid p-0 align-items-center">
    <h1 class="title-note">Alquileres</h1>
        <div class="card p-1 col-10">  
            <div class="row">                  
                <div class="card-body">
                    <div class="vstack gap-2 align-items-center">
                        <a class="btn btn-outline-info fd-bolder col-6 text-start" data-bs-target="#staticBackdrop"> 
                            <div class="row align-items-center">
                                <div class="col-sm-3">
                                    <i class="bi bi-bicycle"></i>
                                </div>
                                <div class="col">
                                    <h6 class="mx-auto my-auto text-center align-items-center">Historial de alquileres</h6>
                                </div>
                            </div>                                              
                        </a>

                        <a class="btn btn-outline-info fd-bolder col-6 text-start" data-bs-target="#staticBackdrop">                 
                            <div class="row align-items-center">
                                <div class="col-sm-3">
                                    <i class="bi bi-bicycle"></i>
                                </div>
                                <div class="col">
                                    <h6 class="mx-auto my-auto text-center align-items-center">Solicitudes</h6>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div> 
