<body>
    <app-navbar-empresa></app-navbar-empresa>
    <div class="container contenedor-bicicletas">
        <div class="row">
            <div class="col-lg-3">                                                                  <!--Primera columna-->
                <button class="button-back"><i class="bi bi-arrow-left"></i></button>
                <div class="row-filtros">
                    <div class="row row-primera"> <!--filtros título-->
                        <p><i class="fa-solid fa-sliders"></i> Filtro de búsqueda</p>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row" style="margin-left:20%;">
                                <p class="mg-bot">Marca</p>
                            </div>
                            <div class="row">
                                <div class="col-3" style="text-align:right; padding-right:0;">
                                    <button class="search-button" type="submit"><i class="bi bi-search"></i></button>
                                </div>
                                <div class="col">
                                    <input class="search-box mg-bot" type="text" placeholder="Buscar">
                                </div>
                            </div>
                            <div class="row"> <!--checks-->
                                <div class="container">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck1" style="margin-left:20%;">
                                        <label class="form-check-label" for="flexCheck1" style="margin-left:10px;"> MBC bikes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2" style="margin-left:20%;">
                                        <label class="form-check-label" for="flexCheck2" style="margin-left:10px;"> Cannodale</label>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div> <!--línea-->
                            <div class="row" style="margin-left:20%;"> <!--precio-->
                                <p class="mg-bot">Precio</p>
                            </div>
                            <div class="row range-line">
                                <input type="range" class="form-range" id="customRange1">
                            </div>
                            <div class="line"></div> <!--línea-->
                            <div class="row" style="margin-left:20%;"> <!--color-->
                                <p class="mg-bot">Color</p>
                            </div>
                            <div class="row">
                                <div class="col-3" style="text-align:right; padding-right:0;">
                                    <button class="search-button" type="submit"><i class="bi bi-search"></i></button>
                                </div>
                                <div class="col">
                                    <input class="search-box mg-bot" type="text" placeholder="Buscar">
                                </div>
                            </div>
                            <div class="row"> <!--checks-->
                                <div class="container">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck3" style="margin-left:20%;">
                                        <label class="form-check-label" for="flexCheck3" style="margin-left:10px;"> Azul</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck4" style="margin-left:20%;">
                                        <label class="form-check-label" for="flexCheck4" style="margin-left:10px;"> Celeste</label>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div> <!--línea-->
                            <div class="row" style="margin-left:20%;"> <!--Modelos-->
                                <p class="mg-bot">Modelos</p>
                            </div>
                            <div class="row"> <!--checks-->
                                <div class="container">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck5" style="margin-left:20%;">
                                        <label class="form-check-label" for="flexCheck5" style="margin-left:10px;"> Eléctricas</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck6" style="margin-left:20%;">
                                        <label class="form-check-label" for="flexCheck6" style="margin-left:10px;"> Montañeras</label>
                                    </div>
                                </div>
                            </div>
                            <div class="button-center">
                                <button class="button-filtros">Aplicar filtros</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-8">                                                  <!--Segunda columna-->
                <div class="row">
                    <div class="col search-div">
                        <button class="search-button" type="submit"><i class="bi bi-search"></i></button>
                        <input class="search-box" type="text" placeholder="Search" style="border-radius: 15px;">
                    </div>
                </div>
                <!--descripcion-->
                <div class="row row-modelos"> 
                    <div class="row">
                        <div class="col-11">
                            <p class="bmx-title">Añadir modelo</p>
                        </div>
                        <div class="col-1 button-icon">
                            <div class="row"><a class="text-iconos text-decoration-none"><i class="bi bi-pencil-square" style="font-size: 30px;"></i></a></div>
                        </div>
                    </div>
                    <!--primera col-->
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">                             
                            <a class="btn fd-bolder col-11 text-start">                 
                                <div class="row">
                                    <img src="../../../assets/imgs/no-img.png" class="no-img" alt="Imagen">
                                </div>
                            </a>
                            <div class="row">
                                <img src="../../../assets/imgs/no-imgs.png" alt="Imagenes" style="width: 250px">
                            </div>
                            <div class="row"><label class="cargar-txt">Cargar imágenes</label></div>
                        </div>
                        <!--segunda col-->
                        <div class="col-lg-4 col-sm-6"> 
                            
                            <div class="row box-detalles-producto">
                                <p class="text-detalles-producto">DETALLES DEL PRODUCTO:</p>
                            </div>
                            <ul>
                                <li class="text-detalles">Modelo:</li>
                                <li class="text-detalles">Marca:</li>
                                <li class="text-detalles">Color:</li>
                                <li class="text-detalles">Tipo:</li>
                                <li class="text-detalles">Imagen:</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6"> <!--tercera col-->
                            <div style="margin-top: 65px;">

                                <form [formGroup]="myForm" autocomplete="off">

                            
                                    <mat-form-field appearance="standard">
                                        <input matInput formControlName="modelo" placeholder="Ingrese el modelo...">
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="standard">
                                        <input matInput formControlName="marca" placeholder="Ingrese la marca...">
                                    </mat-form-field>
                                                    
                                    <mat-form-field appearance="standard">
                                        <input matInput formControlName="color" placeholder="Ingrese el color...">
                                    </mat-form-field>
                                                    
                                    <mat-form-field appearance="standard">
                                        <input matInput formControlName="tipo" placeholder="Ingrese el tipo...">
                                    </mat-form-field>
                                    
                                    <mat-form-field appearance="standard">
                                        <input matInput formControlName="imagen" placeholder="Ingrese el link de la imagen...">
                                    </mat-form-field>
                            
                                </form>
                            </div>
                        </div>
                    </div>

                    
                    <div class="espaciado">
                        <button mat-raised-button color="primary" [disabled]="myForm.invalid" type="button" (click)="saveBicicleta()">Save</button>
                        <button mat-raised-button color="secondary" (click)="regresar()">Cancel</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</body>