<h1 class="title-note">Notificaciones</h1>
<div class="card p-2 align-items-center justify-content-center col-8">  
    <div class="row">                  
        <div class="card-body" style="color:#052473">

            <div class="vstack gap-3">
                <div class="row align-items-center">
                    <div class="bg-light border col-12" style="width: 30rem;">
                        <h5 class="card-title">Un usuario ha realizado una petición de alquiler</h5>
                        <p class="card-text">Hace un momento</p>
                    </div>
                    <div class="col">
                    <a>
                        <i class="bi bi-bell-fill"></i>
                        </a>
                    </div>
                </div>
                                     
                <div class="row align-items-center">
                    <div class="col bg-light border col-12" style="width: 30rem;">
                        <h5 class="card-title">Nuevo método de pago añadido</h5>
                        <p class="card-text">Hace 2 horas</p>
                    </div>
                    <div class="col">
                        <a>
                            <i class="bi bi-bell-fill"></i>
                            </a>
                    </div>
                </div>
          
                <div class="row align-items-center">
                    <div class="col-5 bg-light border" style="width: 30rem;">
                        <h5 class="card-title">Un usuario ha solicitado una tarjeta BIKERENT</h5>
                        <p class="card-text">Hace 1 semana</p>
                    </div>
                    <div class="col">
                        <a>
                            <i class="bi bi-bell"></i>
                        </a>
                    </div>   
                </div>                                
        
                <div class="row align-items-center">
                    <div class="col-5 bg-light border" style="width: 30rem;">
                        <h5 class="card-title">Bienvenido a BIKERENT</h5>
                        <p class="card-text">Hace 1 semana</p>
                    </div>
                    <div class="col">
                        <a>
                            <i class="bi bi-bell"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row text-center gy-2">
        <a reff="#" target="_blank" class="btn btn-outline-info fs-4 fd-bolder mx-auto text-wrap" > Borrar notificaciones </a>
    </div>
</div>