@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


*{
    font-family: 'Roboto';
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: initial;
}

body{
    overflow-x: hidden;
    min-height: 100%;
}

.btn{
    border-radius: 0;
    outline: #052473;
}

.banner
{
    background-size: cover;
    background-color: darkgray;
}

i{
    font-size: 50px;
   color:black;
}

.title-note{
    color:#00D0D0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 48px;
    position: absolute;
    top:12%;
    left:17%;
    margin-top: 90px;
}
h3{
    color:black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
}

.modal-header h5{
    color:#00D0D0;
}

.card-body{
    color: #052473;
}

#Historial .card-body{
    color: #00D0D0;
}

.card {
    border-radius: 0;
    position: absolute;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}



@media only screen and (min-width: 992px){
.container {
    width: 970px;
}
}


