<app-navbar></app-navbar>

<section class="banner bg-white">
    <div class="container p-0">
        <div class="row mb-2">
            <div class="col">
                <h1>Historial de alquileres</h1>
        </div>

        <div class="col-sm-5">
            <a routerLink="/pedidosActivos" class="btn btn-light fs-3 fd-bolder text-wrap"> Pedidos Activos </a>
        </div>

        <div class="col gy-2">
            <div class="card p-2 align-items-center" style="width: 18rm;">   
                    <div class="card-body" data-bs-spy="scroll">
                        <div class="row align-items-center">

                        <div class="vstack gap-3">
                                <div class="row align-items-center">
                                    <div class="bg-light border col-12" style="width: 28rem;">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="card-title">ALTITUDE BICICLETA YOSEMITE 27.5</h6>
                                                <p class="card-text">28/04/2022 San Miguel</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <i class="bi bi-bicycle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                                                        
                                <div class="row">
                                    <div class="bg-light border col-12" style="width: 28rem;">
                                        <div class="row">
                                            <div class="col">
                                                <h6>BICICLETA INKA 29 ACERO ROJO/NEGRO</h6>
                                                <p>25/04/2022 Pueblo Libre</p>
                                            </div>
                                        
                                            <div class="col-sm-2">
                                                <i class="bi bi-bicycle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="bg-light border col-12" style="width: 28rem;">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6>BICICLETA BEST OXYGEN ARO 29 GRIS/AZUL</h6>
                                                <p>31/01/2022 Jesús María</p>
                                            </div>
                                        
                                            <div class="col-sm-2">
                                                <i class="bi bi-bicycle"></i>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                        
                                <div class="row">
                                    <div class="bg-light border col-12" style="width: 28rem;">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6>BEST BICICLETA MONTAÑERA OTIS</h6>
                                                <p>20/03/2022 San Miguel</p>
                                            </div>
                                        
                                            <div class="col-sm-2">
                                                <i class="bi bi-bicycle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                        </div>
                        </div>
                    </div>
            </div>
        </div> 
        </div>
    </div>
</section>

<footer>
<div class="container-fluid">
</div>
</footer>