<section class="banner bg-white"></section>
    <div class="contaniner-icono">
        <i routerLink="/pedidosActivos" target="_blanck" class="bi bi-chevron-left fs-3 mx-auto"></i>
    </div>
    <div class="container-fluid text-wrap">
    <div class="row">
        <div class="row d-flex justify-content-center ">
            <iframe class="map-size" id="gmap_canvas" src="https://maps.google.com/maps?q=UPC-San%20Miguel&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="row">
            <dt class="h1 text-center"> PEDIDO EN PROCESO </dt>
            <dt class="h3 text-center"> ORIGEN: AV. LA MARINA 2510 </dt>
            <dt class="h3 text-center"> DESTINO: AV. LA MARINA 2810 </dt>
        </div>
        <div class="row gy-2">
        <a reff="#" target="_blank" class="btn btn-outline-info fs-4 fd-bolder col-2 mx-auto text-wrap"> Cancelar pedido </a>
        </div>
        <h2 class="lead text-center"> Si cancela su pedido,</h2>
        <h2 class="lead text-center">se le cobrará una comisión</h2>
    </div>

<footer class="d-flex p-md-4 mt-2">
</footer>