<app-navbar></app-navbar>

<section class="banner bg-white">
    <div class="container p-0">
        <div class="row mb-2">
            <div class="col gy-2">
                <h1>Notificaciones</h1>
                <div class="card p-2 align-items-center" style="width:18rm;">  
                    <div class="row justify-content-evenly">                  
                        <div class="card-body">

                            <div class="vstack gap-3">
                                <div class="row align-items-center">
                                    <div class="bg-light border col-12" style="width: 30rem;">
                                        <h5 class="card-title">Nuevos modelos de bicicletas disponibles</h5>
                                        <p class="card-text">Hace un momento</p>
                                    </div>
                                    <div class="col">
                                    <a class="banner-img">
                                        <i class="bi bi-bell-fill"></i>
                                        </a>
                                    </div>
                                </div>
                                                     
                                <div class="row align-items-center">
                                    <div class="col bg-light border col-12" style="width: 30rem;">
                                        <h5 class="card-title">Nuevo métodos de pago añadido</h5>
                                        <p class="card-text">Hace 2 horas</p>
                                    </div>
                                    <div class="col">
                                        <a class="banner-img">
                                            <i class="bi bi-bell-fill"></i>
                                            </a>
                                    </div>
                                </div>
                          
                                <div class="row align-items-center">
                                    <div class="col-5 bg-light border" style="width: 30rem;">
                                        <h5 class="card-title">Reserva correcta</h5>
                                        <p class="card-text">Hace 1 semana</p>
                                    </div>
                                    <div class="col">
                                        <a class="banner-img">
                                            <i class="bi bi-bell"></i>
                                        </a>
                                    </div>   
                                </div>                                
                        
                                <div class="row align-items-center">
                                    <div class="col-5 bg-light border" style="width: 30rem;">
                                        <h5 class="card-title">Bienvenido a BIKERENT</h5>
                                        <p class="card-text">Hace 1 semana</p>
                                    </div>
                                    <div class="col">
                                        <a class="banner-img">
                                            <i class="bi bi-bell"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row text-center gy-2">
                        <a reff="#" target="_blank" class="btn btn-outline-secondary fs-4 fd-bolder mx-auto text-wrap"> Borrar notificaciones </a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<footer>
<div class="container-fluid">
</div>
</footer>