<div class="logo">
    <img src = "./../../assets/imgs/Bikerent_logo.PNG">
    </div>
    
    <div class="titulo">
    <h1>Condiciones</h1>
    </div>
    
    <div class="subtitulo">
    <h4>Registro como empresa</h4>
    </div>
    
    
    
    <div class="Centrartexto">
    <div class="cajatexto">
        <p>Al aceptar este contrato, usted será acreedor de una cuenta disponible para empresas, 
            el cual tendrá un costo mensual que se le restará de su tarjeta registrada.</p>
            <p>SI ESTÁ DE ACUERDO, SELECCIONE ALGUNA DE LAS OPCIONES.</p>
    </div>
    
    </div>
    
    <div class="tipo">
    <button type="button" class="btn btn-outline-info" style="margin-right: 25px" (click)="link()">Aceptar</button>
    <button type="button" class="btn btn-outline-info" style="margin-left: 25px" routerLink="/Registrate">Cancelar</button>
    </div>