<div class="B">
    <div class="cajaGris">
        <p>Confirmar información</p>
    </div>
</div>


<div class="a">
    
    <div class="cajaTransparente">

        <div class="cajas">

            <div class="a">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Nombre Completo">
                    <label for="floatingInput">Nombre completo</label>
                </div>
            </div>

            <div class="a">    
                <div class="form-floating mb-2">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Correo Electrónico">
                    <label for="floatingInput">Correo Electrónico</label>
                </div>  
            </div>

            <div class="a">     
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Teléfono">
                    <label for="floatingInput">Teléfono</label>
                </div> 
            </div>

            <div class="a">     
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Dirección">
                    <label for="floatingInput">Dirección</label>
                </div>     
            </div>

            <div class="a">      
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="RUC">
                    <label for="floatingInput">RUC</label>
                </div>
            </div>

        </div>

        <div class="a">
            <div class="boton" >
                <a href="#"> <button type="button" class="btn btn-outline-info" routerLink="/afiliarTarjeta">Afiliar tarjeta</button></a>
            </div>
        </div>
        
        <div class="a">
            <div class="boton" >
                <a href="#"> <button type="button" class="btn btn-outline-info">Aceptar</button></a>
            </div>   
        </div>

    </div>

</div>