<app-navbar></app-navbar>

<section class="banner bg-white">
    <div class="container p-0 wow fadeIn">
        <div class="row mb-1">
            <div class="col">
                    <h1>Pedidos Activos</h1>
            </div>

            <div class="col gy-2">
                <div class="card p-1" style="width: 40rm;">  
                    <div class="row">                  
                        <div class="card-body">
                            <p> Seleccione el pedido a cancelar</p>
                            <div class="vstack gap-2 align-items-center">
                                <a class="btn btn-outline-info fd-bolder col-11 text-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="fs-bolder">Mini BMX</h6>
                                            <p>03/09/2022 Av. La Marina 2810</p>
                                        </div>
                                          
                                        <div class="col-sm-2">
                                            <i class="bi bi-bicycle"></i>
                                        </div>
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                               <div class="modal-header">
                                                 <h5 class="modal-title" id="staticBackdropLabel">¿Estas seguro de realizar esta operación?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                               <div class="modal-body">
                                                  <img src="./img/BIKERENT.png" class="img-fluid img-thumbnail" alt="Mensaje">
                                               </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar</button>
                                              <button type="button" class="btn btn-primary">Cancelar</button>
                                                  </div>
                                                  </div>
                                              </div>
                                          </div>
                                    </div>                                              
                                </a>

                                <a class="btn btn-outline-info fd-bolder col-11 text-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">                 
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6>Mini BMX</h6>
                                            <p>03/09/2022 Pueblo Libre</p>
                                        </div>
                                    
                                        <div class="col-sm-2">
                                            <i class="bi bi-bicycle"></i>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                             <div class="modal-header">
                                               <h5 class="modal-title" id="staticBackdropLabel">¿Estas seguro de realizar esta operación?</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                             <div class="modal-body">
                                                <img src="./img/BIKERENT.png" class="img-fluid img-thumbnail" alt="Mensaje">
                                             </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar</button>
                                            <button type="button" class="btn btn-primary">Cancelar</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                        </div>
                    </div>
                    <!-- Spinner Start
                    <div class="row text-center gy-2">
                        <a reff="#" target="_blank" class="btn btn-outline-secondary text-wrap fs-4 fd-bolder mx-auto"> Cancelar Alquiler </a>
                    </div>
                    -->

                </div>
            </div> 
        </div>
    </div>
</section>
<section class="footer">
<footer>
    <div class="container-fluid">
    </div>
</footer>
</section>