<div class="card text-center col-md-6 rounded-3 vh-80 my-auto mx-auto">
    <div class="card-header" style="background-color: #8B8B8B";>
      Modificar tipo de cuenta
    </div>
    <div class="card-header" style="border-color: #8B8B8B";>
        Tipos de cuenta
    </div>
    <div class="card-header">
      <h5 class="card-title">Cuenta Basic             <a class="btn m-4">Plan activo</a></h5>
    </div>
    <div class="card-header">
        <h5 class="card-title">Cuenta Premium         <a class="btn2 btn-sm m-4">Plan no activo</a></h5>
    </div>
    <div class="card-footer" style="background-color: #C4C4C4">
        <h5 class="card-title">¿Quieres cambiar tu tipo de cuenta?</h5>
        <a href="info-basic.component.html" class="btn">Seleccione aquí</a>
    </div>
  </div>