<div class="card text-center col-md-6 rounded-3 vh-80 my-auto mx-auto">
    <div class="card-header" style="background-color: #8B8B8B";>
        Cuenta Basic
    </div>
    <div class="card-header text-start" style="border-color: #8B8B8B";>
        Beneficios:
    </div>
    <div class="card-header">
        <h6><ul class="text-start">
            <li class="justify-content-around">Tarjetas</li>
            <li>Envío y recojo de productos</li>
            <li>Acceso a participación en foros</li>
            <li>Variedad limitada de bicicletas</li>
        </ul></h6>
    </div>
    <div class="card-header text-start" style="border-color: #8B8B8B";>
        Precio
    </div>
    <div class="card-header">
        <h6><ul class="text-start">
            <li>s/20 mensual</li>
        </ul></h6>
    </div>
    <div class="card-footer" style="background-color: #C4C4C4">
        <a href="pago-basic.component.html" class="btn1">Seleccionar plan</a>
    </div>
    <div style="background-color: #C4C4C4";>
        <a class="card-title text-dark text-decoration-none" style="font-weight: bold " href="solicitud-tarjeta.component.html">Solicitar tarjeta BIKERENT</a>
    </div>
</div>