.centrar-contenido {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.solicitudes {
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    padding: 25px;
}
.title {    
    font-size: 24px;
    font-weight:bold;
    color: #00D0D0;
    margin-top: 70px;
    margin-bottom: 20px;
}

.bg-color
{
    background-color: #C4C4C4;
}
h6 {
    font-weight: bold;
    font-size: 18px;
}

.Pendiente {
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
}