<app-navbar-empresa></app-navbar-empresa>
<p class="title">Pedidos activos</p>
<div class="inf">
    <div class = "pedidos-activos border border-dark">
        <div class="row">
            <div class="bg-color border col-12">
                <div class="row">
                    <div class="col">
                        <h6>Alexandra Valera</h6>
                        <p>25/04/2022 San Miguel</p>
                    </div>
                    <div class="col">
                        <p class="act">Activo</p>
                    </div>            
                    <div class="col-sm-2">
                        <i class="bi bi-bicycle"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bg-color border col-12">
                <div class="row">
                    <div class="col">
                        <h6>Marcos Péres Cariión</h6>
                        <p>31/03/2022 Jesús horario</p>
                    </div> 
                    <div class="col">
                        <p class="act">Activo</p>
                    </div>                    
                    <div class="col-sm-2">
                        <i class="bi bi-bicycle"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bg-color border col-12">
                <div class="row">
                    <div class="col">
                        <h6>Elizabeth Terrones Caso</h6>
                        <p>20/03/2022 San Miguel</p>
                    </div>
                    <div class="col" >
                        <p class="act">Activo</p>
                    </div>               
                    <div class="col-sm-2">
                        <i class="bi bi-bicycle"></i>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    <button class="btn btn-info"> Seleccione un pedido para ver detalles</button>
    </div>
</div>