<div class ="solicitud">
    <figure>
        <img src ="../../../assets/imgs/usuario_cliente.jpg" class = "imgperfil">
        <figcaption> <p> Alexandra Valera </p></figcaption>
    </figure>   
    <div class = "datos">
        <p style = "font-weight: bold"> Pendiente</p>  <br>     
        <p> Solicitud de alquiler: Montañera</p><br>
        <p> Localización: San Miguel</p><br>
        <p> Tiempo de alquiler: 4 horas</p><br>
        <br>
    </div> 
    <button type="button" class="btn btn-outline-info"> Aceptar solicitud </button>
</div>