<div class="row d-flex justify-content-center " style="margin-top: 8%">
    
    <div class="mapouter"><div class="gmap_canvas">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15610.509870233722!2d-76.88257899999999!3d-12.000259000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1665615231346!5m2!1ses-419!2spe" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>            
</div>
<div></div>

<div class="gris">

    <p>Confirma tu ubicación</p>

    <div class="cajas">

        <div class="a">
            <div class="input-group mb-1" style="width: 50%">
                <input type="text" class="form-control" placeholder="Av. la Marina 2810" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>

    </div>

    <div class="a">
        <div class="boton" >
            <button type="button" class="btn btn-outline-info" routerLink="/RegistrarUbicacionCinco">Confirmar</button>
        </div>
    </div>

</div>