<div class="card text-center col-md-6 rounded-3 vh-80 my-auto mx-auto">
    <div class="card-header" style="background-color: #8B8B8B";>
      Cuenta Premium
    </div>
    <div class="card-header text-start" style="border-color: #8B8B8B";>
      Beneficios:
    </div>
    <div class="card-header">
      <h6><ul class="text-start">
        <li>Tarjetas</li>
        <li>Mayores ofertas</li>
        <li>Cupones</li>
        <li>Envío y recojo de productos</li>
        <li>Preferencia de solicitudes de alquiler</li>
        <li>Preferencia en solicitudes de quejas y/o reclamos</li>
        <li>Alquiler a mayor plazo</li>
      </ul></h6>
    </div>
    <div class="card-header text-start" style="border-color: #8B8B8B";>
      Precio
    </div>
    <div class="card-header">
      <h6><ul class="text-start">
        <li>s/49.90 mensual</li>
      </ul></h6>
    </div>
    <div class="card-footer" style="background-color: #C4C4C4">
      <a href="pago-premium.component.html" class="btn1">Seleccionar plan</a>
    </div>
    <div style="background-color: #C4C4C4";>
      <a class="card-title text-dark text-decoration-none" style="font-weight: bold " href="solicitud-tarjeta.component.html">Solicitar tarjeta BIKERENT</a>
    </div>
  </div>