@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
:root {
    --Lightgray: #C4C4C4;
    --White: white;
    --Darkgray: #8B8B8B;
    --Black: black;
    --Blue: #00B2FF;
    --Cyan: #00D0D0;
    --DarkBlue: #052473;
    --gradient: linear-gradient(90deg, var(-Blue), var(-Cyan));
}
*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: initial; 
}
body{
    background-color:var(--White);
}
.TitleProfile{
    position: absolute;
    margin-top: 25px;
    margin-left: -400px;
    left: 50%; 
}
.datos 
{
	padding: 5%;
	width:50%;
	height: 500px;
	float:left;       
}
.datos p {
	text-align: center;
    font-weight: bold;
}
.datos .imgperfil {
  	justify-content: center;
  	align-items: center;
}
.imgperfil{
    width: 80px;
    height: 80px;
    border-radius: 40px;
	object-fit: cover; /*ajusta calidad img sgn tamaño*/
	display:block;
	margin:auto;
}
.datos a {    
    text-decoration: none;
    color: var(--Black);
    
}
.cardprofile{
	background: solid var(--White);
	border: 1px solid var(--Black);
	position: absolute;
	width: 800px;
	height: 560px;
    top: 50%;
    left: 50%;           
    margin-top: -230px;
    margin-left: -400px;          
}
input {
    border: 1.5px solid var(--Cyan) !important;
    border-radius: 0.1rem;
    color: var(--Cyan);	
}
.bi-pencil-square {
	color: var(--Cyan);
	font-size: 24px;
}
.bi-x-square {
	color: var(--Cyan);
	font-size: 22px;
}
.btn .btn-info{
	color: var(--White);
	text-decoration-color: var(--White);
}
button {
    background-color: var(--White);
}