*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.B{
    display: flex;
    justify-content: center;
    margin-top: 13%;
}


.a{
    display: flex;
    justify-content: center;
}


p{
    text-align: center;
    margin-left: 8PX;
    font-weight: bold;
    font-size: 25px;
}


.cajaGris{
    width: 35%;
    height: 40px;
    background-color: grey;
}
.cajaTransparente{
    border: solid grey;
    width: 35%;
}


.cajas{
    color:#00D0D0;
    margin-bottom: 25px;
}
.cajas input{
    border: solid #00D0D0;
}
.form-control{
    width: 100%;
}    

.d{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.c{
    margin-left: auto;
    margin-right: auto;
}

.boton{
    margin-top: 5px;
    height: 50px;
}
.btn-outline-info{
    width: 150px;
    font-weight: bold;
    background-color: white;
}