<div class="B">
    <div class="cajaGris">
        <p>Agregar tarjeta de crédito débito o BIKERENT</p>
    </div>
</div>


<div class="a">
    
    <div class="cajaTransparente">

        <div class="cajas">

            <div class="d mb-4">
                <label for="formGroupExampleInput" class="form-label">Número</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
            </div>

            <div class="d mb-4">
                <label for="formGroupExampleInput" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
            </div>

            <div class="a">     
                <div class="c mb-4">
                    <label for="formGroupExampleInput" class="form-label">Fecha de caducidad</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                </div>

                <div class="c mb-4">
                    <label for="formGroupExampleInput" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                </div>  
            </div>

        </div>

        <div class="a">
            <div class="boton" >
                <button type="button" class="btn btn-outline-info">Guardar</button>
            </div>
        </div>

    </div>

</div>