<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="gps-container">
            <label class="title-gps">GPS</label>
            <div>
                <iframe class="mapa" src="https://maps.google.com/maps?q=UPC-San%20Miguel&t=&z=17&ie=UTF8&iwloc=&output=embed" style="border:none"></iframe>
            </div>
            <div class="row" style="margin-left: 4%;">
                <div class="col-3">
                    <button type="button" class="btn btn-light boton-pausar" style="border-color: #00D0D0; color:#00B2FF;">Pausar movimiento</button>
                </div>
                <div class="col-3">
                    <div class="row"><button type="button" class="btn btn-primary boton-iniciar" style="color: #d5d5d5; background-color: #00B2FF; border-color: #00B2FF;">Iniciar movimiento</button></div>
                    <div class="row"><label class="text-time">La bicicleta se encuentra en movimiento por más de 2 horas</label></div>
                </div>
            </div>



        </div>
    </div>

</body>